#A{
    background-color: red;
    color: white;
    border-color: red;
    padding: 10px 30px;
    margin: 10px 15px;
}

#B{
    background-color: red;
    color: white;
    border-color: red;
    padding: 10px 30px;
    margin: 10px 15px;
    border-radius: 5px;
}

#C{
    background-color: red;
    color: white;
    border-color: red;
    padding: 10px 30px;
    margin: 10px 15px;
    border-radius: 30px;
}

#D{
    background-color: red;
    color: white;
    border-color: red;
    padding: 10px 10px;
    margin: 10px 15px;
}

#E{
    background-color: red;
    color: white;
    border-color: red;
    padding: 10px 10px;
    margin: 10px 15px;
    border-radius: 5px;
}

#F{
    background-color: red;
    color: white;
    border-color: red;
    padding: 10px 10px;
    margin: 10px 15px;
    border-radius: 50px;
}



#G{
    background-color: blue;
    color: white;
    border-color: Blue;
    padding: 10px 30px;
    margin: 10px 15px;
}

#H{
    background-color: Blue;
    color: white;
    border-color: Blue;
    padding: 10px 30px;
    margin: 10px 15px;
    border-radius: 5px;
}

#I{
    background-color: Blue;
    color: white;
    border-color: Blue;
    padding: 10px 30px;
    margin: 10px 15px;
    border-radius: 30px;
}

#J{
    background-color: Blue;
    color: white;
    border-color: Blue;
    padding: 10px 10px;
    margin: 10px 15px;
}

#K{
    background-color: Blue;
    color: white;
    border-color: Blue;
    padding: 10px 10px;
    margin: 10px 15px;
    border-radius: 5px;
}

#L{
    background-color: Blue;
    color: white;
    border-color: Blue;
    padding: 10px 10px;
    margin: 10px 15px;
    border-radius: 50px;
}